#shake {
    -webkit-animation: 300ms shake;
            animation: 300ms shake;
  }

  @-webkit-keyframes shake {
    0% {
      -webkit-transform: translateX(1%);
              transform: translateX(1%);
    }
    25% {
      -webkit-transform: translateX(-1%);
              transform: translateX(-1%);
    }
    50% {
      -webkit-transform: translateX(1%);
              transform: translateX(1%);
    }
    75% {
      -webkit-transform: translateX(-1%);
              transform: translateX(-1%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }

  @keyframes shake {
    0% {
      -webkit-transform: translateX(1%);
              transform: translateX(1%);
    }
    25% {
      -webkit-transform: translateX(-1%);
              transform: translateX(-1%);
    }
    50% {
      -webkit-transform: translateX(1%);
              transform: translateX(1%);
    }
    75% {
      -webkit-transform: translateX(-1%);
              transform: translateX(-1%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }

@-webkit-keyframes border-pulse {
  0% {
    border-color: rgba($accent, .9);
  }
  50% {
    border-color: rgba(purple, 0);
  }
  100% {
    border-color: rgba($accent, .7);
  }
}

@keyframes border-pulse {
  0% {
    border-color: rgba($accent, .9);
  }
  50% {
    border-color: rgba(purple, 0);
  }
  100% {
    border-color: rgba($accent, .7);
  }
}

/* .paw-icon {*/
.inner-pulse-radius {
  position: relative;
  -webkit-animation: border-pulse 2s infinite;
          animation: border-pulse 2s infinite;
  height: 2em;
  width: 2em;
  padding: 6.5px;
  border: 2px solid;
  border-radius: 50%;
}

.outer-pulse-radius {
  position: relative;
  -webkit-animation: border-pulse 2.2s infinite;
          animation: border-pulse 2.2s infinite;
  background: transparent;
  height: 3.5em;
  width: 3.5em;
  border: solid 1px;
  padding: 6px;
  border-radius: 50%;
}


//SCROLL LEFT-RIGHT VIEW
.scroll-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
  width: 100%;
}
.preview-container {
  position: relative;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 1px $border;
}
.scroll-btn {
  color: $accent;
  background: none;
  outline: none;
  border-radius: 50%;
  border: solid 1px $border;
  font-size: 25px;
  &:hover {
    transition: .5s;
    background: $accent;
    color: #FFF;
  }
}


#slide-out-left {
  -webkit-animation: slide-out-left 500ms ;
          animation: slide-out-left 500ms ;
}

@-webkit-keyframes slide-out-left {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    /* overflow-x: hidden;*/
  }
}

@keyframes slide-out-left {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    /* overflow-x: hidden;*/
  }
}

#slide-out-right {
  -webkit-animation: slide-out-right 500ms ;
          animation: slide-out-right 500ms ;
}

@-webkit-keyframes slide-out-right {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /* overflow-x: hidden;*/
  }
}

@keyframes slide-out-right {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /* overflow-x: hidden;*/
  }
}


#slide-in-left {
  -webkit-animation: slide-in-left 500ms ;
          animation: slide-in-left 500ms ;
}

@-webkit-keyframes slide-in-left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    /* overflow-x: hidden;*/
  }
}

@keyframes slide-in-left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    /* overflow-x: hidden;*/
  }
}

#slide-in-right {
  -webkit-animation: slide-in-right 500ms ;
          animation: slide-in-right 500ms ;
}

@-webkit-keyframes slide-in-right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    /* overflow-x: hidden;*/
  }
}

@keyframes slide-in-right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    /* overflow-x: hidden;*/
  }
}
