/*START OF PROFILE IMG EDITING SECTION*/
.profile-figcaption {
    position: relative;
    bottom: 30px;
    font-size: 2em;
    color: $profileIcon;
    text-align: center;
}

.profile-pic-container {
  .profile-pic-preview {
    position: absolute;
    background-size: cover;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    bottom: 29.7%;
    z-index: 1;
  }
}

.dropzone-container {
  height: 99%;
  width: 99.5%;
}



.dropzone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  border: dashed 2px #555;
  background: rgba(white, .5);

  .icon-camera {
    font-size: 100px;
    opacity: .7;
  }
}

.background-img-preview {
  height: 5em;
  margin: 3%;
}

.upload-status-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 90%;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: -475px;
  left: 0em;
}

.img-preview-container {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  width: 70%;
  justify-content: center;
}

/*PROFILE PICTURE SECTION*/

.profile-pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  background-size: cover;
}

.input-file {
  position: absolute;
  top: 49%;
  left: 33%;
  right: 0;
  bottom: 0;
  height: 20%;
  width: 12em;
  opacity: 0;
  z-index: 2;
}

.profile-pic, .default-profile-pic {
  position: relative;
  bottom: 50px;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px $accent;
}

.default-profile-pic {
  background-position-x: -15px;
}


/*USER INTERACTIVE NAV SECTION*/
.profile-interactive-component {
  height: 15vh;
}

.profile-sub-nav, {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border-top: solid 1px;
  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
  }
}

.connect-btn {
  border: transparent;
  background: none;
  font-size: 40px;
  border-radius: 50%;
  color: $font-color;
    &:hover {
      transition: .5s;
      border: solid 1px #FFF;
      border-radius: 50%;
      color: $accent;
      cursor: pointer;
    }
}

.edit-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ul-match-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  background-color: white;
  i {
    font-size: 2em;
    /* background-color: white;*/
    /* width: 30px;*/
    /* border-radius: 2px;*/
  }
}

@media(max-width: 549px) {
  // .profile-image-form {
  //   height: 46.5%;
  // }
  .upload-status-container {
    top: -315px;
  }

  .input-form {
    left: 36%;
  }
}

@media(min-width: 550px) {
  // .profile-image-form {
  //   height: 42%;
  // }

  .background-profile-image {
    height: 60vh;
  }

  .upload-status-container {
    top: -315px;
  }

  .input-form {
    left: 38%;
  }
}

@media(min-width: 700px) {
  .input-form {
    left: 41%;
  }
}
@media(min-width: 750px) {
  .input-form {
    left: 41%;
  }
  .profile-image-form {
    position: absolute;
    height: 64%;
    width: 100%;
    top: 11.4%;
  }
}
