/*START OF PROFILE IMG EDITING SECTION*/

.profile-image-form {
    position: absolute;
    height: 39.5%;
    width: 100%;
    top: 10.7%;
  // position: absolute;
  // height: 63%;
  // width: 100%;
  // top: 11.5%;
}
.profile-figcaption {
    // position: relative;
    // bottom: 50px;
    font-size: 1.6rem;
    color: $profileIcon;
    text-align: center;
}

.profile-pic-container {
  position: relative;
  top: 4rem;
  .profile-pic-preview {
    position: absolute;
    background-size: cover;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    bottom: 29.7%;
    z-index: 1;
  }
}

.dropzone-container {
  height: 99%;
  width: 99.6%;
}

.dropzone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  border: dashed 2px #555;
  background: rgba(white, .5);

  .icon-camera {
    font-size: 100px;
    opacity: .7;
  }
}

.background-img-preview {
  height: 5em;
  margin: 3%;
}

.upload-status-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 90%;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: -475px;
  left: 0em;
}

.img-preview-container {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  width: 70%;
  justify-content: center;
}

/*PROFILE PICTURE SECTION*/

.profile-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 90%;
  margin: 0 auto;
}

.profile-pic-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.input-file {
  position: absolute;
  top: 49%;
  left: 33%;
  right: 0;
  bottom: 0;
  height: 20%;
  width: 12em;
  opacity: 0;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
}

.profile-pic, .default-profile-pic {
  // position: relative;
  // bottom: 50px;
  height: 5em;
  width: 5em;
  margin: 0;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  // border: solid 5px $accent;
}

.default-profile-pic {
  background-position-x: -15px;
}


/*USER INTERACTIVE NAV SECTION*/
.profile-interactive-component {
  // height: 15vh;
  // width: 90%;
  // border-top: solid 1px;
  margin: 0 auto;
  // position: relative;
  // bottom: 40px;
}

.profile-sub-nav, {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  // width: 95%;
  height: 100%;
  margin: 1rem auto;
  padding: 0;
  width: 10rem;
  // position: relative;
  // bottom: 4rem;
  // left: 17%;
  // border-top: solid 1px;
  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    font-size: 11px;
  }
}

.connect-btn {
  border: transparent;
  background: none;
  font-size: 30px;
  border-radius: 50%;
  color: $font-color;
  // color: $secondary;
    &:hover {
      transition: .5s;
      // border: solid 1px #FFF;
      // border-radius: 50%;
      color: $accent;
      cursor: pointer;
    }

  label {
    font-size: 15px;
  }
}

.edit-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ul-match-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  background-color: white;
  i {
    font-size: 2em;
    /* background-color: white;*/
    /* width: 30px;*/
    /* border-radius: 2px;*/
  }
}

@media(max-width: 549px) {
  // .profile-image-form {
  //   height: 46.5%;
  // }
  .upload-status-container {
    top: -315px;
  }

  .input-file {
    left: 36%;
  }
}

@media(min-width: 550px) {
  .background-profile-image {
    object-position: 50% 40%;
  }

  .background-profile-image {
    height: 60vh;
  }

  .upload-status-container {
    top: -315px;
  }

  .input-file {
    left: 39%;
  }
}

@media(min-width: 630px) {
  .profile-pic-section, .ul-about-data {
    width: 30%;
  }
}

@media(min-width: 700px) {
  .input-file {
    left: 41%;
  }
}

@media(min-width: 750px) {
  .background-profile-image {
    object-position: 50% 40%;
  }

  .input-file {
    left: 42%;
    top: 71%;
  }
  .profile-image-form {
    position: absolute;
    height: 59.5%;
    width: 100%;
    top: 10.75%;
  }
}

@media(min-width: 1050px) {
  .input-file {
    left: 45%;
    top: 71%;
  }
}


@media(min-width: 1000px) {
  .profile-sub-nav {
    // width: 65%;
  }
}

@media(min-width: 1200px) {
  .bio-textarea {
    width: 50%;
    height: 100%;
    outline: none;
    font-size: 1em;
    margin: 0 auto;
  }
}
