/*START OF PROFILE IMG EDITING SECTION*/
.profile-image-form {
    position: absolute;
    height: 400px;
    width: 100%;
    top: 7.2%;
}

.profile-figcaption {
    position: relative;
    bottom: 30px;
    font-size: 2em;
    color: $profileIcon;
    text-align: center;
}

.profile-pic-container {
  .profile-pic-preview {
    position: absolute;
    background-size: cover;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    bottom: 29.7%;
    z-index: 1;
  }
}

.dropzone-container {
  height: 99%;
  width: 99%;
}



.dropzone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  border: dashed 2px #555;
  background: rgba(white, .5);

  .icon-camera {
    font-size: 100px;
    opacity: .7;
  }
}

.background-img-preview {
  height: 5em;
}

.upload-status-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 1em;
  left: 35%;
  color: #555;
  margin: 0;
}

/*PROFILE PICTURE SECTION*/

.profile-pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  background-size: cover;
}

.input-file {
  position: absolute;
  top: 59%;
  left: 37%;
  right: 0;
  bottom: 0;
  height: 20%;
  width: 25%;
  opacity: 0;
  z-index: 2;
}

.profile-pic, .default-profile-pic {
  position: relative;
  bottom: 50px;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px $accent;
}

.default-profile-pic {
  background-position-x: -15px;
}


/*USER INTERACTIVE NAV SECTION*/
.profile-interactive-component {
  height: 15vh;
}

.profile-sub-nav, {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border-top: solid 1px;
  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
  }
}

.connect-btn {
  border: none;
  background: none;
  font-size: 40px;
  color: $profileIcon;
  i {
    border: solid 2px $border;
    border-radius: 50%;
    padding: 10px;
  }
}

.edit-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ul-match-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  background-color: white;
  i {
    font-size: 2em;
    /* background-color: white;*/
    /* width: 30px;*/
    /* border-radius: 2px;*/
  }
}
