$font-color: #555;
$font-family: 'Lato', sans-serif;
$headings: #F8F1FF;

// $icon: #a55a55;
$icon: #BCBDC0;

$button-color: #F8F1FF;
$border: #C4C4C4;

$background: rgba(#eceeec, 0.8);

$accent: #F55959;
