$font-color: #555;
$font-family: 'Lato', sans-serif;
$headings: #F8F1FF;

// $icon: #a55a55;
$icon: #BCBDC0;
$yelpIcon: #1dbbcc;
$profileIcon: #484848;

$button-color: #F8F1FF;
$border: #EBEBEB;
// $color: #F55959

$background: #EBEBEB;
$background-test: #EDEFED;
$background-modal: #F8F1FF;

$accent: #F55959;
$secondary: #9265BF;
$tertiary: #2EC0F9;



// $background: #26408B;
// $background-lite: #566db0;
// $backHover: rgba(#0f084b, 0.35);
// $primary: #E5EAFA;
// $secondary: #001F54;
// $hover: #034078;
// $border: #1282A2;
// $btnBackground: rgba(#0f084b, 0.55);
// $btnHover: rgba(#0f084b, 0.35);
