.header-component {
  border-bottom: solid 1px $border;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.current-location {
  color: $accent;
}

.nav-component {
  background: $background;
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 10px 0px 10px;
    padding: 0;
  }
  li {
    list-style-type: none;
    width: calc(100/3);
  }
  .nav-icon {
    font-size: 3.5em;
    color: rgba($accent, .8);
  }
}
