.header-component {
  height: 4vh;
  border-bottom: solid 1px $border;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.header-title {
  display: flex;
  width: 33%;
  justify-content: flex-start;
  padding: 10px 0 10px 15px;
  height: 4em;
  align-items: center;
}

.logo-container {
  height: 3.5em;
  width: 3.5em;
  background-repeat: no-repeat;
  background-size: contain;
}

.waggle {
  margin: 0 10px;
  color: $accent;
  font-size: 17px;
  font-weight: 100;

}

.current-location {
  color: $secondary;
}

.nav-component {
  position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background: #FFF;
    border-bottom: solid 1px $border;
    display: flex;
    align-items: center;
    justify-content: space-between;

  .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 55%;
    margin: 0 10px 0px 10px;
    padding: 0;
  }
  li {
    list-style-type: none;
    // width: calc(100/3);
  }
  .nav-icon {
    font-size: 2.5em;
    color: $secondary;
    &:hover {
      transition: .5s;
      cursor: pointer;
      color: rgba($secondary, .8);
    }
  }
}


@media(min-width: 775px) {
  // .header-component {

  .nav-component {
    // position: fixed;
    // width: 100%;
    // z-index: 2;
    // top: 0;
    // opacity: 1;
    // background: $secondary;
    // color: white;
  }

}
