.header-component {
  // height: 20vh;
  border-bottom: solid 1px $border;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .nav-component {
    margin: 0;
    // height: 5vh;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px;
      padding: 0;
    }
    li {
      list-style-type: none;
      width: calc(100/3);
    }
    .nav-icon {
      font-size: 3.5em;
      color: $icon;
    }
  }


/* - - - - - - - - - -Searchbar Component Starts here - - - - - - - - - - - -  */

  .searchbar-component {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;

    .searchbar {
      height: 3em;
      font-size: 1.5em;
      outline: none;
      border: none;
      // border-top-left-radius: 5px;
      // border-bottom-left-radius: 5px;
    }

    .search-submit {
      display: none;
    }

    .search-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 72px;
      width: 70px;
      background: $accent;
      color: #FFF;
      font-size: 2.5em;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

  }

}
