.header-component {
  height: 13vh;
  border-bottom: solid 1px $border;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .nav-component {
    margin: 0;
    height: 5vh;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      height: 100%;
    }
    li {
      list-style-type: none;
      width: calc(100/3);
    }
    .li-first {
      // width: 45%;
      // display: flex;
    }
    .li-second {
      // align-items: center;
      // justify-content: flex-start;
      // flex: 50;
    }
    .li-third {
      // align-items: center;
      // justify-content: flex-end;
      // flex: 50;
      // text-align: right;
    }
    .nav-icon {
      // margin: 5%;
      font-size: 4em;
      color: $icon;
    }
  }


/* - - - - - - - - - -Searchbar Component Starts here - - - - - - - - - - - -  */

  .searchbar-component {
    display: flex;
    width: 50em;
    height: 5em;
    margin: 0 auto;
    margin-bottom: 1em;

    .searchbar {
      width: 100%;
      font-size: 2em;
      padding-left: 1rem;
      outline: none;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .search-submit {
      display: none;
    }

    .search-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 77px;
      width: 77px;
      background: $accent;
      color: #FFF;
      font-size: 3em;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

  }

}
