.header-component {
  border-bottom: solid 1px $border;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.current-location {
  color: $secondary;
}

.nav-component {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background: #FFF;
  // box-shadow: 0px -4px 22px 0px rgba(0,0,0,0.27);
  border-bottom: solid 1px $border;

  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 10px 0px 10px;
    padding: 0;
  }
  li {
    list-style-type: none;
    // width: calc(100/3);
  }
  .nav-icon {
    font-size: 3.5em;
    color: $secondary;
  }
}


@media(min-width: 775px) {
  // .header-component {

  .nav-component {
    // position: fixed;
    // width: 100%;
    // z-index: 2;
    // top: 0;
    // opacity: 1;
    // background: $secondary;
    // color: white;
  }

}
