.landing-page-component {
  position: relative;
  margin: 0;

  .greeting-register {
    position: absolute;
    top: 0vh;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(#000, .2);

    h1 {
      margin-bottom: 5%;
      color: #FDFDFC;
      font-family: $font-family;
      font-weight: 100;
      font-size: 4em;
    }

    .register-btns {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button {
      width: 7em;
      margin: 0 5%;
      padding: 3% 1%;
      background: transparent;
      border: solid 2px $button-color;
      border-radius: 10px;
      outline: none;
      font-size: 2em;
      color: $button-color;
      
      &:hover {
        transition: background .5s;
        background: rgba($button-color, .4);
      }
    }
  }

  .current-image {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: left 2s;
  }

  .slide-left-enter{
    left: 100%;
  }

  .slide-left-enter.slide-left-enter-active,
  .slide-left-leave {
    left: 0;
  }

  .slide-left-leave.slide-left-leave-active {
     left: -100%;
   }

}
