.landing-page-component {
  position: relative;
  height: 100vh;
  margin: 0;

  .greeting-register {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: rgba(#000, .2);

    h1 {
      margin-bottom: 5%;
      color: #FDFDFC;
      font-family: $font-family;
      font-weight: 100;
      font-size: 3em;
      text-align: center;
      line-height: 2em;
    }

    .register-btns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      align-items: center;
    }

    button {
      width: 7em;
      margin-bottom: 1em;
      padding: 15px;
      background: rgba(#FFF, .3);
      border: solid 2px #FFF;
      border-radius: 10px;
      outline: none;
      font-size: 2em;
      color: #FFF;

      &:hover {
        -webkit-transition: .5s;
        transition: .5s;
        background: #FFF;
        border: solid 2px #FFF;
        color: $accent;
      }
    }
  }

  .slider-wrapper {
    height: 100%;
  }

  .current-image {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    -webkit-transition: left 1900ms;
    transition: left 1900ms;
  }

  .slide-left-enter{
    left: 100%;
  }

  .slide-left-enter.slide-left-enter-active,
  .slide-left-leave {
    left: 0;
  }

  .slide-left-leave.slide-left-leave-active {
     left: -100%;
   }

}
