.landing-page-component {
  position: relative;
  margin: 0;

  .greeting-register {
    position: absolute;
    top: 50vh;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      margin: 10% 0;
    }
  }

  .current-image {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: left 2s;
  }

  .slide-left-enter{
    left: 100%;
  }

  .slide-left-enter.slide-left-enter-active,
  .slide-left-leave {
    left: 0;
  }

  .slide-left-leave.slide-left-leave-active {
     left: -100%;
   }

}
