@import '_variables.scss';
@import 'LandingPage.scss';
@import 'SessionModal.scss';
@import 'SliderProfileHeader.scss';
@import 'Header.scss';
@import 'Searchbar.scss';
@import 'ResultsPage.scss';
@import 'PlaceItemPage.scss';
@import 'ProfilePage.scss';
@import 'MessagesPages.scss';
@import '_animations.scss';



body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
  color: $font-color;
  font-family: $font-family;
  line-height: 150%;
  word-spacing: 3px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $font-color;
  text-decoration: none;
}

.submit-btn {
  display: none;
}

button {
  outline: none;
}
