@import '_variables.scss';
@import 'LandingPage.scss';
@import 'SessionModal.scss';
@import 'SliderProfileHeader.scss';
@import 'Header.scss';
@import 'Searchbar.scss';
@import 'ResultsPage.scss';
@import 'PlaceItemPage.scss';
@import 'ProfilePage.scss';
@import 'MessagesPages.scss';
@import 'SettingsPage.scss';
@import 'PageNotFound.scss';
@import '_animations.scss';



body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
  color: $font-color;
  font-family: $font-family;
  line-height: 150%;
  word-spacing: 3px;
  background: $background;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: $font-color;
  text-decoration: none;
}

.submit-btn {
  display: none;
}

button {
  outline: none;
}
