@import '_variables.scss';
@import '_animations.scss';
@import 'LandingPage.scss';
@import 'SessionModal.scss';
@import 'Header.scss';
@import 'ResultsPage.scss';
@import 'PlaceItemPage.scss';
@import 'ProfilePage.scss';


body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
  color: $font-color;
  font-family: $font-family;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $font-color;
  text-decoration: none;
}
