@import '_variables.scss';
@import 'LandingPage.scss';
@import 'SessionModal.scss';
@import 'Header.scss';
@import 'ResultsPage.scss';
@import 'ResultItemPage.scss';
@import 'ProfilePage.scss';


body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
  color: $font-color;
  font-family: $font-family;
}
