//MESSAGE HISTORY PAGE STARTS HERE
.message-history-page-container {
  .message-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 85vh;
    padding: 30px;
    margin: 0;
    position: relative;
    top: 5em;
    .message-history-message-preview {
      list-style-type: none;
      border-bottom: solid 1px #BCBDC0;
      height: 15%;
      width: 90%;
      text-align: left;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: column;
      &:hover {
        transition: .5s;
        color: $accent;
        border-bottom: solid 1px $accent;
        cursor: pointer;
      }
    }
    data {
      color: $icon;
    }
  }

  .h2-convo-with {
    text-align: left;
  }

}

// CONVERSATION PAGE STARTS HERE
.conversation-page-component {
  width: 100%;
}
.convo-with-link {
  position: relative;
  top: 6em;
  border-bottom: solid 2px $font-color;
  background: $background;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 40px;
  &:hover {
    transition: .5s;
    border-bottom: solid 2px $accent;
  }

  figure {
    margin: 0;
    position: static;
  }
  h2 {
    margin: 0 0 0 0;
  }
}

.fixed-message-container {
  height: 400px;
  width: 95%;
  padding: 3%;
  overflow: auto;
  margin-top: 5em;
}

.messages-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  // border-top: solid 2px $font-color;
  .me {
    align-items: flex-end;
  }
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    margin: 10px 0;
    font-size: 20px;
    line-height: 2;

    .message-content-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 80%;
      // border: solid 1px $border;
    }

    p {
      margin: 0 5px 0 0;
    }
    span {
      color: $accent;
    }
    data {
      font-size: 12px;
    }
  }
  .me-container {
    display: flex;
    align-items: flex-end;
  }

  .me {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 80%;
    color: #EFF1EF;
    background: rgba($secondary, 0.7);
    border-radius: 10px;
    padding: 10px;
  }

  .not-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    border: solid 2px #FFF;
    background: none;
    border-radius: 10px;
    padding: 10px;
  }

}

.chat-form-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  border: solid 2px $accent;
  border-radius: 8px;
  margin-top: 3%;
}

.chat-textbox {
  height: 90%;
  width: 90%;
  outline: none;
  border: none;
  font-size: 1.4em;
}

.message-btn {
  height: 100%;
  width: 100px;
  background: $accent;
  color: #FFF;
  border: none;
  font-size: 25px;
}
