.result-item-component {

  .result-item-container {
    // margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    // height: 100vh;
    width: 100vw;
    text-align: center;

    .place-image {
      height: 46vh;
      width: 90vw;
      margin: 0 auto;
    }

  }

  .nav-component {
    ul {
      margin-bottom: 0;
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    height: 47vh;
    width: 100vw;
    // background: rgba(black, .2);
    color: #FFF;
  }

  h1 {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
    background: rgba(#000, .2);
    color: #FFF;
  }

  .checkin-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 100%;
    // padding: 25px;
    outline: none;
    border: solid 1px $accent;
    // border-radius: 50%;
    background: transparentize(#FFF, .2);
    color: $accent;
    font-size: 2em;
  }

  .footer-users-checkedin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(white, .9);
  }

  .ulist-users-checkedin {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      list-style-type: none;
      color: $accent;
    }

    .userpreview-container{
      display: flex;
      display: column;
      align-items: center;
      justify-content: center;
      h3 {
        margin: 0;
      }
    }

    .checkedin-user-image {
      height: 5em;
      width: 5em;
      background-size: cover;
      border-radius: 50%;
      background-position: left center;
    }

  }
  #checked-in {
    color: #FFF;
    background: $accent;
  }

}
