.profile-pic-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  width: 100vw;
  background-size: cover;
}

.profile-pic, .default-profile-pic {
  position: relative;
  bottom: 50px;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px $accent;
}

.input-file {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.default-profile-pic {
  background-position-x: -15px;
}

.nav-session, .ul-match-section {
  position: absolute;
  bottom: 20em;
  margin: 0;
  padding: 0;
  left: 5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 3em;
  li {
    list-style-type: none;
    width: 100%;
  }
}

.profile-image-form {
  position: absolute;
  height: 400px;
  width: 100%;
}

.profile-main {
  padding: 3%;
}

.ul-about-data {
  margin: 10px 0;
  padding: 0;
  border-bottom: solid 1px $border;
  li {
    list-style-type: none;
    width: 100%;
    border-radius: 5px;
  }
}

.ul-match-section {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  i {
    font-size: 2em;
    // background-color: white;
    // width: 30px;
    // border-radius: 2px;
  }
}

.dropzone-container {
  height: 99%;
  width: 99%;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: dashed 2px #555;
  background: rgba(white, .5);

  .icon-camera {
    font-size: 100px;
    opacity: .7;
  }
}

.profile-background-images {
  height: 400px;
  width: 100vw;
  margin: 0;
  background-size: cover;
}

.match-section-ul {
  padding: 0;
  margin: 10px 0;
  li {
    list-style-type: none;
  }
}

.like-btn {
  border: none;
  outline: none;
  background: none;
}
.icon-heart {
  padding: 2%;
  font-size: 2em;
  // background: blue;
}
.sent-match {
  color: red;
}


/* PROFILE FOOTER STARTS HERE */

.profile-footer {
  // display: flex;
  width: 100vw;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 10px 0;
    width: 100%;
  }
  .user-recent-places-component {
    list-style-type: none;
    text-align: center;
    width: 50%;

    .recent-place-image {
      height: 10em;
      width: 10em;
      background-size: cover;
      background-repeat: no-repeat;
    }

    h3 {
      margin: .5em 0 0 0;
      width: 50%;
      font-size: 20px;
      width: 100%;
    }

  }
}
