.profile-pic {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -15px;
}

.profile-main {

}

.profile-footer {
  display: flex;
  width: 100vw;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .user-recent-places-component {
    list-style-type: none;
    text-align: center;
    width: 100%;

    .recent-place-image {
      height: 10em;
      width: 10em;
      background-size: cover;
      background-repeat: no-repeat;
    }

    h3 {
      margin: .5em 0 0 0;
      width: 50%;
      font-size: 20px;
      width: 100%;
    }

  }
}
