@import '_profileHeader.scss';

/*PROFILE MAIN SECTION STARTS HERE*/
.profile-main {
  padding: 3%;
}

.ul-about-data {
  margin: 10px 0;
  padding: 0 0 0 10px;
  border-bottom: solid 1px $border;
  li {
    list-style-type: none;
    width: 100%;
    border-radius: 5px;
    color: rgba($font-color, 0.8);
  }
}

.about-user-icon {
  color: $accent;
  margin-right: 2%;
}

.about-bio {
  line-height: 2em;
  width: 90%;
  border-bottom: solid 1px $border;
  padding: 15px 0;
  margin: 0 auto;
}

.form-about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 275px;
}

.bio-textarea {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 1em;
}

.submit-edits {
  width: 5em;
  padding: 2%;
  outline: none;
  border: none;
  background: #FFF;
  border-radius: 5px;
  border: solid 1px $accent;
  font-size: 1em;
  font-weight: 500;
}

/* PROFILE FOOTER STARTS HERE */

.profile-footer {
  // display: flex;
  width: 100vw;
}

.current-match-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .ul-recent-places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 10px 0;
    width: 100%;
  }
  h2 {
    text-align: center;
    margin: 0;
  }

  .match-heading {
    margin: 0;
    font-size: 1em;
  }

  .match-preview-img {
    height: 5em;
    width: 5em;
    border-radius: 50%;
  }



// RECENT PLACES STARTS HERE
.user-recent-places-component {
  list-style-type: none;
  text-align: center;
  width: 95%;
  margin-bottom: 2em;
  // background-color: rgba(#ECEEEC,.1);
}
  .recent-place-image {
    height: 20em;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h3 {
    color: $accent;
    // margin: .5em 0 0 0;
    width: 50%;
    font-size: 20px;
    width: 100%;
  }

  .snippet-text {
    width: 90%;
    text-align: left;
    color: rgba($font-color, .7);
    border-left: solid 2px $border;
    padding-left: 5px;
  }



// MESSAGE MODAL STARTS HERE


#new-message-container {
  background: white;
  height: 50%;
  width: 60%;
  border-radius: 5px;

  .cancel-btn {
    color: $accent;
    outline: none;
    border: none;
    background: none;
    font-size: 1em;
  }

  h2 {
    margin: 0;
  }

}

.new-message-textarea {
  height: 50%;
  width: 90%;
  outline: none;
  font-size: 1em;
}

.send-message-btn {
  width: 50%;
  background: $accent;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1.5em;
  &:hover {
    transition: .5s;
    color: $accent;
    background: #FFF;
    border: solid 1px $border;
  }
}


@media(min-width: 700px) {
  .background-profile-image {
    height: 480px;
    object-fit: cover;
  }

  .profile-sub-nav {
    width: 55em;
  }

  .ul-about-data {
    width: 48em;
    margin: 0 auto;
  }

  .about-bio {
    width: 50em;
  }

  .profile-main {
    padding-bottom: 10px;
  }

  .matched-wagglrs {
    .scroll-container {
      height: 30vh;
      // border-bottom: solid 1px #FFF;
    }
  }

  .background-profile-image {
    height: 35em;
  }

  .recent-place-image {
    height: 30em;
    width: 80%;
  }

  .snippet-text {
    width: 35em;
    border-left: solid 1px rgba($font-color, 0.5);
    padding-left: 4%;
  }
}

@media(min-width: 750px) {
  .background-profile-image {
    object-fit: cover;
    height: 70vh;
  }

  .recent-place-image {
    height: 30em;
    width: 49em;
  }

  .slider-container img {
    object-fit: cover;
    // height: 500px;
    object-fit: cover;
    height: 35em;
  }
}
