@import '_profileHeader.scss';

/*PROFILE MAIN SECTION STARTS HERE*/
.profile-main {
  padding: 3%;
}

.ul-about-data {
  margin: 10px 0;
  padding: 0 0 0 10px;
  border-bottom: solid 1px $border;
  li {
    list-style-type: none;
    width: 100%;
    border-radius: 5px;
    color: rgba($font-color, 0.8);
  }
}

.about-user-icon {
  color: $accent;
  margin-right: 2%;
}

.about-bio {
  line-height: 1.5;
  width: 90%;
  border-bottom: solid 1px $border;
  padding: 15px 0;
  margin: 0 auto;
}

.form-about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 275px;
}

.bio-textarea {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 1em;
  border: none;
  padding: 2%;
  line-height: 1.5;
}

.submit-edits {
  width: 5em;
  padding: 2%;
  outline: none;
  border: none;
  background: #FFF;
  border-radius: 5px;
  border: solid 1px $accent;
  font-size: 1em;
  font-weight: 500;
}

/* PROFILE FOOTER STARTS HERE */

.profile-footer {
  // display: flex;
  width: 100vw;
}

.current-match-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul-recent-places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px 0;
  width: 100%;
}
h2 {
  text-align: center;
  margin: 0;
}

.match-heading {
  margin: 0;
  font-size: 1em;
}

.match-preview-img {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  object-fit: cover;
}

.scroll-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 25vh;
  width: 90%;
  border-bottom: solid 1px $font-color;
  margin: 0 auto;
}
.preview-container {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.scroll-btn {
  color: $accent;
  background: none;
  outline: none;
  border-radius: 50%;
  border: solid 1px $border;
  font-size: 25px;
  &:hover {
    transition: .5s;
    background: $accent;
    color: #FFF;
  }
}

.h2-matches {
  width: 90%;
  margin: 0 auto;
  // margin-top: 10%;
  border-top: solid 1px;
  padding-top: 5%;
}

// RECENT PLACES STARTS HERE
.h2-recent-places {
  margin: 3rem 0;
}

.user-recent-places-component {
  list-style-type: none;
  text-align: center;
  width: 95%;
  margin-bottom: 2em;
  // background-color: rgba(#ECEEEC,.1);
}
  .recent-place-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20em;
    width: 95%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    &:hover {
      cursor: pointer;
    }
  }

  .h3-user-recent-places {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #FFF;
    background: rgba(0,0,0, .3);
    font-size: 20px;
  }

  .snippet-text {
    width: 80%;
    text-align: left;
    color: rgba($font-color, .7);
    border-left: solid 1px rgba(85, 85, 85, 0.5);
    padding-left: 4%;
  }


// MESSAGE MODAL STARTS HERE
#new-message-container {
  background: white;
  height: 50%;
  width: 60%;
  border-radius: 5px;

  .cancel-btn {
    color: $accent;
    outline: none;
    border: none;
    background: none;
    font-size: 1em;
  }

  h2 {
    margin: 0;
  }

}

.new-message-textarea {
  height: 50%;
  width: 90%;
  outline: none;
  font-size: 1em;
}

.send-message-btn {
  width: 50%;
  background: $accent;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1.5em;
  &:hover {
    transition: .5s;
    color: $accent;
    background: #FFF;
    border: solid 1px $border;
  }
}

@media(min-width: 500px) {
  .recent-place-image {
    height: 25rem;
    width: 30rem;
  }
}

@media(min-width: 650px) {
  .scroll-container {
    // width: 75%;
    // margin: 0 auto;
  }
}

@media(min-width: 750px) {
  .about-bio {
    width: 85%;
  }

  .profile-main {
    padding-bottom: 10px;
  }

  .background-profile-image {
    height: 35em;
  }

  .user-recent-places-component {
    width: 40%;
    margin: 0;
  }

  .snippet-text {
    display: none;
    // width: 80%;
    // padding-left: 4%;
    // margin-bottom: 0;
    // border-left: solid 1px rgba($font-color, 0.5);
  }

  .background-profile-image {
    object-fit: cover;
    height: 70vh;
  }

  .recent-place-image {
    // height: 15em;
    // width: 20em;
    // background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 22rem;
  }

  .slider-container img {
    object-fit: cover;
    // height: 500px;
    object-fit: cover;
    height: 35em;
  }
}

@media(min-width: 900px) {
  // .recent-place-image {
  //   height: 25em;
  //   width: 25em;
  // }

  .scroll-container {
    height: 25vh;
  }

  .snippet-text {
    width: 20rem;
  }
}

@media(min-width: 1000px) {
  .profile-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    height: 35vh;
  }

  .ul-about-data {
    width: 30%;
    height: 100%;
  }

  .about-bio {
    width: 35rem;
    height: 100%;
  }

  .bio-textarea {
    width: 85%;
    margin: 0 auto;
  }

  .edit-btn-container {
    justify-content: flex-start;
    width: 30%;
    position: relative;
    right: 103%;
    bottom: 45%;
  }
}
