@import '_profileHeader.scss';

/*PROFILE MAIN SECTION STARTS HERE*/
.profile-main {
  padding: 3%;
}

.ul-about-data {
  margin: 10px 0;
  padding: 0;
  border-bottom: solid 1px $border;
  li {
    list-style-type: none;
    width: 100%;
    border-radius: 5px;
  }
}

.form-about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 275px;
}

.bio-textarea {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 1em;
}

.submit-edits {
  width: 5em;
  padding: 2%;
  outline: none;
  border: none;
  background: #FFF;
  border-radius: 5px;
  border: solid 1px $accent;
  font-size: 1em;
  font-weight: 500;
}

/* PROFILE FOOTER STARTS HERE */

.profile-footer {
  // display: flex;
  width: 100vw;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 10px 0;
    width: 100%;
  }
  .user-recent-places-component {
    list-style-type: none;
    text-align: center;
    width: 95%;
    margin-bottom: 2em;
    background-color: rgba(#ECEEEC,.1);

    .recent-place-image {
      height: 20em;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    h3 {
      // margin: .5em 0 0 0;
      width: 50%;
      font-size: 20px;
      width: 100%;
    }

    .snippet-text {
      width: 90%;
      text-align: left;
      color: rgba($font-color, .7);
      border-left: solid 2px $border;
      padding-left: 5px;
    }

  }
}
