.result-item-component {

  .result-item-container {
    // opacity: .7;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    text-align: center;
  }

  .nav-component {
    ul {
      margin-bottom: 0;
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background: rgba(black, .2);
    color: #FFF;
  }

  h1 {
    display: flex;
    align-items: center;
    margin: 0;
    height: 30%;
  }

  .checkin-btn {
    height: 5em;
    width: 5em;
    padding: 25px;
    outline: none;
    border: solid 1px $accent;
    border-radius: 50%;
    background: transparentize(#FFF, .2);
    color: $accent;
    font-size: 2em;
  }

  .footer-users-checkedin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25%;
    background: rgba(white, .9);
  }

  .ulist-users-checkedin {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      list-style-type: none;
      color: $accent;
    }
  }

}
