.results-list {
  margin: 0;
  padding: 0;
  background: #FFF;

  .result-item-component {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8em;
    margin: 0;
    // padding: 20px 0px;
    list-style-type: none;
  }

  .result-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 5.5em;
    width: 5.5em;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  .result-content-container {
    border-bottom: solid 1px $border;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .about-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
    height: 80%;
    h1 {
      margin: 0;
      font-size: 1.1em;
      // width: 80%;
      font-weight: 500;
    }

    .place-snippet {
      width: 95%;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
      text-align: center;
      font-weight: 100;
      opacity: .7;
    }
  }

  .star-rating {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
  }

  .caption {
    color: $accent;
    text-align: center;
    overflow:scroll;
  }

  .star-icon {
    font-size: 2.5em;
    border-radius: 10px;
    background: #69c6f0;
  }

}
