.results-list {
  margin: 0;
  padding: 0;
  background: #FFF;
  .result-item-component {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 0;
    padding: 2%;
    list-style-type: none;
  }

  .result-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 10em;
    width: 10em;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  .result-content-container {
    border-bottom: solid 1px $border;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .about-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    width: 90%;
    h1 {
      margin: 0;
      font-size: 3em;
      width: 80%;
      font-weight: 400;
    }

    .place-snippet {
      width: 80%;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 17px;
      font-weight: 300;
    }
  }
  .star-rating {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80px;
  }
  .caption {
    color: $accent;
    text-align: center;
    overflow:scroll;
  }
  .star-icon {
    font-size: 5em;
    border-radius: 10px;
    background: $yelpIcon;
  }



}
