.map {
  height: 350px;
  width: 75%;
  margin: 10px auto;
}
.place-marker {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-position-y: 3px;
  background-color: $accent;
  border-radius: 50%;
  border: solid #FFF 1px;
}
.paw-icon {
  position: absolute;
  top: 3px;
  left: 4px;
  height: 2em;
  width: 2em;
}

.infobox-container {
  position: absolute;
  bottom: 0px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 40vw;
  height: 14vh;
  border-radius: 10px;
  z-index: 1;
  padding: 10px;

  .place-img-name {
    width: 50%;

    img {
      height: 100px;
      width: 100px;
      border-radius: 4px;
    }
  }

  .address-section {
    width: 50%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    line-height: 1.5;

    h3 {
      color: $accent;
      font-size: 16px;
      margin: 0;
    }

  }
}

#my-location {
  background-color: purple;
}


.results-list {
  margin: 0;
  padding: 0;
  background: #FFF;

  .result-item-component {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8em;
    margin: 0;
    // padding: 20px 0px;
    list-style-type: none;
  }

  .result-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 5.5em;
    width: 5.5em;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  .result-content-container {
    border-bottom: solid 1px $border;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .about-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
    height: 80%;
    h1 {
      margin: 0;
      font-size: 1.1em;
      color: $accent;
      font-weight: 500;
      background: transparent;
    }

    .place-snippet {
      width: 95%;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
      text-align: center;
      font-weight: 100;
      opacity: .7;
    }
  }

  .star-rating {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
  }

  .caption {
    color: $accent;
    text-align: center;
    overflow:scroll;
  }

  .star-icon {
    font-size: 2.5em;
    border-radius: 10px;
    background: #69c6f0;
  }

}
