.map-container {
  background: white;
  // margin-bottom: 2%;
  // border-bottom: solid $border 1px;
}

.map {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  background: white;
}

.gm-style {
  border-radius: 2px;
}

.place-marker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  background-color: $accent;
  border-radius: 50%;
  border: solid #FFF 1px;
}
.paw-icon {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 2em;
  width: 2em;
  &:hover {
    cursor: pointer;
  }
}


#my-location {
  background-color: $secondary;
}

.infobox-container {
  position: absolute;
  bottom: 0px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 22em;
  height: 14vh;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;

  .place-img-name {
    width: 50%;
    height: 100%;
    img {
      height: 100%;
      max-width: 100px;
      border-radius: 4px;
    }
  }

  .address-section {
    width: 50%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    line-height: 1.5;

    a {
      text-decoration: none;
    }

    h3 {
      color: $accent;
      font-size: 16px;
      margin: 0;
    }
  }
}

.heading-icon-container {
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110px;
  padding-top: 2em;
}

.edit-city-icon {
  margin-top: 30px;
  height: 30px;
  width: 50px;
  font-size: 2em;
  &:hover {
    cursor: pointer;
  }
}

.new-city-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: $background;
  // box-shadow: 0px -6px 14px -7px rgba(0,0,0,0.27);
  border-radius: 5px;
  background: white;
  margin: 15px auto;
  margin-bottom: 0;
}

.new-city-main {
  display: flex;
  align-items: flex-start;
  height: 30px;
  // margin-right: 5%;
  text-align: center;
}

h4 {
  font-size: 12px;
  margin: 0;
  width: 50%;
}

.new-city-input {
  height: 30px;
  width: 100%;
  font-size: 1em;
  padding: 0;
  outline: none;
  border: none;
  background: $border;
  color: $font-color;
  border-radius: 2px;
  text-align: left;
  padding-left: 6px;
  // box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.edit-city-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  font-size: 14px;
}

.submit-edit-city-btn {
  height: 100%;
  width: 90px;
  color: $accent;
  border: none;
  border-radius: 5px;
  background: none;
  font-size: 1em;
  &:hover {
    cursor: pointer;
  }
}

.search-heading-section {
  background: #FFF;
  position: relative;
  top: 50px;
  height: 300px;
}

.search-heading {
  text-align: center;
  margin: 0px;
  font-size: 35px;
  height: 30px;
  color: $accent;
  background: #FFF;
}

.search-sub-heading {
  display: none;
  // text-align: center;
  // font-size: 20px;
  // margin: 0 0 20px 0;
}

.results-list {
  margin: 0;
  padding: 0;
  background: #FFF;
}

.result-item-component {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8em;
  width: 100%;
  margin: 0;
  list-style-type: none;
  &:hover {
    cursor: pointer;
  }
}

.result-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 4.5em;
  width: 4.5em;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.result-content-container {
  border-bottom: solid 1px $border;
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &:hover {
    transition: .5s;
    border-bottom: solid 1px $tertiary;
    h1, li, header {
      transition: .5s;
      color: $tertiary;
    }
  }
}


.about-preview {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-around;
width: 80%;
height: 80%;
}
.results-h1 {
  margin: 0;
  line-height: 1.5;
  background: #FFF;
  color: $accent;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
}

.place-snippet {
  width: 95%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  text-align: center;
  font-weight: 100;
  opacity: .7;
}

.about-place {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  padding: 0 0 0 15px;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $accent;
  }
}

.caption {
  color: $accent;
  text-align: center;
  overflow:scroll;
}


@media(min-width: 774px) {
  // .result-item-component {}
  .map {
    height: 360px;
  }

  .heading-icon-container {
    // height: 170px;
  }

  .search-heading {
    margin: 20px 0;
    height: 50px;
    background: #FFF;
  }

  .search-heading-section {
    position: relative;
    top: 40px;
    height: 300px;
  }

  .new-city-form {
    height: 160px;
  }

  .result-image {
    height: 5em;
    width: 5em;
  }

  .about-preview {
    .results-h1 {
      font-size: 25px;
    }
  }

  .about-place {
    font-size: 20px;
  }

}

@media (min-width: 775px) {

  .results-page-container{
    display: flex;
  }

  .map-container {
    position: fixed;
    top: 40%;
    left: 12px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 10px white;
  }

  .map {
    height: 430px;
    width: 100%;
  }

  .search-heading-section {
    position: fixed;
    top: 80px;
    height: 170px;
    margin: 0;
    background: $background;
  }

  .search-heading {
    margin: 0;
    background: $background;
    padding-top: 10px;
  }

  .heading-icon-container {
    height: 100px;
    padding: 20px 0;
  }

  .new-city-form {
    width: 100%;
    height: 100px;
    box-shadow: none;
    background: $background;
  }

  .new-city-input {
    width: 100%;
    background: #FFF;
    // height: 70px;
  }

  .edit-city-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
  }

  .results-list {
    position: relative;
    top: 50px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    box-shadow: -1px 0px 14px 0px rgba(0, 0, 0, 0.27);
  }

  .result-item-component {
    width: 95%;
  }

  .about-preview {
    .results-h1 {
      font-size: 20px;
    }
  }

  .about-place {
    font-size: 15px;
  }

}
