.searchbar-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 50px;
  margin: 0 auto;
  border-bottom: solid 2px $border;
  padding: 0;
}
.searchbar {
  height: 100%;
  width: 100%;
  font-size: 1.2em;
  outline: none;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: solid 1px $border;
  background: #FFF;
  padding-left: 10px;
}

.search-submit {
  display: none;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 105%;
  width: 70px;
  background: $accent;
  color: #FFF;
  font-size: 2.5em;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

@media(min-width: 600px) {
  .searchbar {
    // height: 70%;
  }

  .search-icon {
    // height: 72%;
    font-size: 2em;
  }

}

@media (min-width: 775px) {
  .searchbar-component {
    width: 50vw;
    background: $background;
    padding: 10px 0;
    // height: 100%;
  }
  .searchbar {
    width: 78%;
    // height: 50px;
  }
}
