.modal-component {
  font-family: sans-serif;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(#000, .3);
  height: 100vh;
  width: 100vw;
  z-index: 2;

  .modal-content{
    display: flex;
    background: #FFF;
    height: 100%;
    width: 100%;
    font-family: $font-family;
    overflow: scroll;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: $font-family;

    label {
      display: none;
    }
  }

  .login-form {
    height: 80%;
    width: 95%;
    margin: 50px auto;
  }

  .signup-form {
    // height: 100%;
    width: 100%;
  }

  .signup1, .signup2, .signup3 {
    height: 70%;
  }

 .modal-header {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   height: 20%;

   h2 {
     margin: 0;
     font-size: 1.8em;
     font-family: $font-family;
   }

   .cancel-btn {
     color: $accent;
     font-size: 1em;
     background: transparent;
     padding: 1em;
     width: 5em;
   }
 }

 .modal-body{
  width: 90%;
  margin: 0 auto;
  height: 55%;
 }

 .user-info-input {
   width: 100%;
   margin-bottom: 10%;
   outline: none;
   border: none;
   font-size: 1.5em;
   padding-top: 10%;
   background: transparent;
   border-bottom: 1px solid $border;
   border-radius: none;
 }

 .modal-footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 20%;
 }

 .modal-btn {
   font-size: 1.5em;
   outline: none;
   border: none;
   background: $accent;
   color: #FFF;
   border-radius: 5px;
   padding: 15px;
   width: 89%;
   &:hover {
    //  transition: 1s;
    //
    //  color: #FFF;
   }
 }

 .submit-btn {
   display: none;
 }

 .check-info {
  //  position: absolute;
  //  top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 3em;
  //  width: 11em;
   margin: 0;
   color: $accent;
   border-radius: 5px;
   text-align: center;
 }

}


@media(min-width: 620px) {
  .modal-component {

    .modal-content {
      align-items: center;
    }

    .modal-header {
      height: 6em;
    }

    .login-form {
      width: 35em;
      height: 40em;
      margin: 0 auto;
    }

    .signup-form {
      width: 35em;
      margin: 0 auto;
    }

    .signup-input {
      padding-top: 2%;
    }

    .modal-footer {
      height: 20vh;
    }
  }
}

@media(min-width: 720px) {
  .modal-component {

    .modal-content {
      height: 100vh;
      width: 100vw;
      background: rgba(#000, .01);
    }

    .login-form, .signup-form {
      background: rgba(#FFF, .93);
      border-radius: 6px;
    }

    .signup-form {
      height: 40em;
      // width: 40em;
      h3 {
        margin: 7%;
      }
    }

    .signup1, .signup2, .signup3 {
      margin-bottom: 20px;
    }

    .signup-input {
      margin-bottom: 5%;
      padding-top: 30px;
    }

    .modal-header {
      height: 20%;
      display: flex;
      align-items: center;
    }

    .signup-header {
      height: 6em;
      display: flex;
      align-items: center;
      .cancel-btn {
        margin: 0;
      }
    }

    .modal-body {
      height: 50%;
    }

    .modal-footer {
      height: 9em;
    }

  }

}
