.modal-component {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(#000, .3);
  height: 100%;
  width: 100%;

  .modal-content{
    display: flex;
   //  align-items: center;
    background: rgba(#FFF, .9);
    height: 75%;
    width: 85%;
  }

  form {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    label {
      display: none;
    }

  }

 .modal-header {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   height: calc(100%/3);

   h2 {
     margin: 0;
     font-size: 1.8em;
   }

   .cancel-btn {
     background: transparent;
   }

 }

 .modal-body{
  height: calc(100%/3);
   .user-info-input {
     width: 100%;
     margin-bottom: 10%;
     outline: none;
     border: none;
     font-size: 1.5em;
     padding-top: 10%;
     background: transparent;
     border-bottom: 1px solid $border;
     border-radius: none;
   }
 }

 .modal-footer {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: calc(100%/3);
   .submit-btn {
    background: transparent;

   }

 }

 .modal-btn {
  //  height: 10em;
  //  width: 40%;
   background: #FFF;
   outline: none;
   border: none;
   color: $accent;
   &:hover {
     background: $button-color;
     color: #FFF;
   }
 }

}
