.modal-component {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(#000, .3);
  height: 100%;
  width: 100%;

  .modal-content{
    display: flex;
    background: #FFF;
    height: 100%;
    width: 100%;
    font-family: $font-family;
    overflow: scroll;
  }

  form {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    label {
      display: none;
    }
  }

 .modal-header {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   height: 200px;

   h2 {
     margin: 0;
     font-size: 1.8em;
   }

   .cancel-btn {
     background: transparent;
     padding: 2%;
     width: 50px;
   }
 }

 .modal-body{
  height: 200px;

   .user-info-input {
     width: 100%;
     margin-bottom: 10%;
     outline: none;
     border: none;
     font-size: 1.5em;
     padding-top: 10%;
     background: transparent;
     border-bottom: 1px solid $border;
     border-radius: none;
   }
 }

 .modal-footer {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 200px;

   .submit-btn {
     background: $accent;
     color: #FFF;
     padding: 2%;
     width: 160px;
     font-size: 1.5em;
   }
 }

 .modal-btn {
   outline: none;
   border: none;
   color: $accent;
   border-radius: 5px;
   &:hover {
     transition: 1s;
     background: $accent;
     color: #FFF;
   }
 }

}
