.modal-component {
  font-family: sans-serif;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(#000, .3);
  height: 100vh;
  width: 100vw;

  .modal-content{
    display: flex;
    background: #FFF;
    // height: 100%;
    // width: 100%;
    font-family: $font-family;
    overflow: scroll;
  }

  form {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;

    label {
      display: none;
    }
  }
  .signup-form {
    height: 100%;
    width: 100%;
  }

 .modal-header {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
  //  height: 30%;

   h2 {
     margin: 0;
     font-size: 1.8em;
     font-family: $font-family;
   }

   .cancel-btn {
     color: $accent;
     font-size: 1em;
     background: transparent;
     padding: 1em;
     width: 5em;
   }
 }

 .modal-body{
  // height: 200px;
  width: 90%;
  margin: 0 auto;
   .user-info-input {
     width: 100%;
     margin-bottom: 10%;
     outline: none;
     border: none;
     font-size: 1.5em;
     padding-top: 10%;
     background: transparent;
     border-bottom: 1px solid $border;
     border-radius: none;
   }
 }

 .modal-footer {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
  //  height: 200px;

  //  .submit-btn {
  //   //  background: $accent;
  //   //  color: #FFF;
  //   //  padding: 2%;
  //   //  width: 160px;
  //  }
 }

 .modal-btn {
   font-size: 1.5em;
   outline: none;
   border: none;
   background: $accent;
   color: #FFF;
   border-radius: 5px;
   padding: 15px;
   width: 89%;
   &:hover {
    //  transition: 1s;
    //
    //  color: #FFF;
   }
 }

 .submit-btn {
   display: none;
 }

}
