.settings-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  ul {
    padding: 0;
    margin: 0;
    li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 2em;
      margin: 10px 0;
      list-style-type: none;
    }
  }

  .header-settings, .discovery-settings, .footer-settings {
    width: 100%;
    border-bottom: solid 1px $border;
    padding: 10px;
  }

  .header-settings {
    position: relative;
    top: 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* justify-content: space-around;*/
    height: 50vh;
    /* width: 100%;*/
    line-height: 2em;
  }

  .settings-headings {
    text-align: center;
    margin: 0 10px 0 0;
  }

  .settings-label {
    -webkit-box-flex: 25;
        -ms-flex: 25;
            flex: 25;
    color: $accent;
    font-weight: bold;
  }

  p {
    -webkit-box-flex: 75;
        -ms-flex: 75;
            flex: 75;
  }

  .about-dog-settings {
    width: 70%;
  }

  .about-session-settings {
    width: 70%;
  }

  .edit-settings-btn {
    float: right;
  }


  .discovery-settings {
    position: relative;
    top: 10em;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .input-range {
    width: 30%;
  }

  .footer-settings {
    position: relative;
    top: 7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 25vh;
    border-bottom: none;
    button {
      height: 30px;
      border: none;
      border-radius: 5px;
      outline: none;
      background: #F55959;
      color: #FFF;
      font-size: 20px;
      margin: 10px 0;
      width: 14em;
    }
    .hide-me {
      display: none;
    }
  }
}

@media (min-width: 900px) {
  .settings-content-container {
    width: 46em;
    margin: 0 auto;
  }
}
