.slider-container {
  overflow: hidden;
  // margin: 0 auto;
  // width: 100%;
  img {
    object-fit: cover;
    height: 400px;
  }
}
.slick-prev, .slick-next {
  position: absolute;
  z-index: 1;
  bottom: 420px;
  height: 3em;
  width: 7em;
  outline: none;
  border: solid 1px #FFF;
  padding: 2px 17px;
  background: rgba(#FFF, 0.9);
  color: $accent;
  font-size: 12px;
  border-radius: 2px;
  margin: 2%;
  text-align: center;
  &:hover {
    transition: .5s;
    background-color: rgba(#FFF, 1);
    color: $accent;
  }
}
.slick-next {
  position: absolute;
  z-index: 1;
  right: 0;
  padding: 2px 22px;
  // display: none !important;
}
