.slider-container {
  overflow: hidden;
  // height: 50vh;
  position: relative;
  top: 5rem;
  img {
    // object-fit: contain;
    object-fit: cover;
    height: 50vh;
  }
}

.slick-list {
  // height: 40vh;
}

.slick-prev, .slick-next {
  position: absolute;
  z-index: 1;
  top: 230px;
  height: 2em;
  width: 6em;
  outline: none;
  border: solid 1px #FFF;
  // padding: 2px 17px;
  background: rgba(#FFF, 0.9);
  color: $accent;
  font-size: 12px;
  border-radius: 2px;
  margin: 2%;
  text-align: center;
  &:hover {
    transition: .5s;
    background-color: rgba(#FFF, 1);
    color: $accent;
  }
}
.slick-next {
  position: absolute;
  z-index: 1;
  right: 0;
  // padding: 2px 22px;
  // display: none !important;
}
