.slider-container {
  margin: 0 auto;
  width: 100%;
  img {
    object-fit: cover;
    height: 400px;
  }
}
.slick-prev, .slick-next {
  position: absolute;
  z-index: 1;
  top: 30%;
  height: 5em;
  outline: none;
  border-radius: 50%;
  border: solid 1px $border;
  padding: 1%;
  background-color: rgba(#FFF, .6);
  color: #FFF;
  font-size: 11px;
  font-weight: bold;
  &:hover {
    transition: 1s;
    background-color: rgba(#FFF, 1);
    color: $accent;
  }
}
.slick-next {
  position: absolute;
  z-index: 1;
  right: 0;
  padding: 17px;
}
