.landing-page-component {
  position: relative;
  height: 100vh;
  margin: 0; }
  .landing-page-component .greeting-register {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2); }
    .landing-page-component .greeting-register h1 {
      margin-bottom: 5%;
      color: #FDFDFC;
      font-family: "Lato", sans-serif;
      font-weight: 100;
      font-size: 4em; }
    .landing-page-component .greeting-register .register-btns {
      display: flex;
      align-items: center;
      justify-content: center; }
    .landing-page-component .greeting-register button {
      width: 7em;
      margin: 0 5%;
      padding: 3% 1%;
      background: transparent;
      border: solid 2px #F8F1FF;
      border-radius: 10px;
      outline: none;
      font-size: 2em;
      color: #F8F1FF; }
      .landing-page-component .greeting-register button:hover {
        transition: .5s;
        background: rgba(248, 241, 255, 0.4);
        color: #C4C4C4; }
  .landing-page-component .slider-wrapper {
    height: 100%; }
  .landing-page-component .current-image {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    transition: left 1900ms; }
  .landing-page-component .slide-left-enter {
    left: 100%; }
  .landing-page-component .slide-left-enter.slide-left-enter-active,
  .landing-page-component .slide-left-leave {
    left: 0; }
  .landing-page-component .slide-left-leave.slide-left-leave-active {
    left: -100%; }

.modal-component {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%; }
  .modal-component label {
    display: none; }
  .modal-component .modal-content {
    display: flex;
    align-items: center;
    background: rgba(245, 89, 89, 0.9);
    height: 50em;
    width: 40em; }
  .modal-component .user-info-input {
    width: 100%;
    height: 5em;
    margin-bottom: 10%;
    outline: none;
    border: none;
    font-size: 2em; }
  .modal-component .button-section {
    display: flex;
    align-items: center;
    justify-content: center; }
  .modal-component .modal-btn {
    height: 10em;
    width: 40%;
    background: #FFF;
    outline: none;
    border: none;
    color: #555; }
    .modal-component .modal-btn:hover {
      background: #F8F1FF;
      color: #FFF; }

.header-component {
  height: 13vh;
  border-bottom: solid 1px #C4C4C4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* - - - - - - - - - -Searchbar Component Starts here - - - - - - - - - - - -  */ }
  .header-component .nav-component {
    margin: 0;
    height: 5vh; }
    .header-component .nav-component ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      height: 100%; }
    .header-component .nav-component li {
      list-style-type: none;
      width: calc(100/3); }
    .header-component .nav-component .nav-icon {
      font-size: 4em;
      color: #BCBDC0; }
  .header-component .searchbar-component {
    display: flex;
    width: 50em;
    height: 5em;
    margin: 0 auto;
    margin-bottom: 1em; }
    .header-component .searchbar-component .searchbar {
      width: 100%;
      font-size: 2em;
      padding-left: 1rem;
      outline: none;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .header-component .searchbar-component .search-submit {
      display: none; }
    .header-component .searchbar-component .search-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 77px;
      width: 77px;
      background: #F55959;
      color: #FFF;
      font-size: 3em;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }

.results-list {
  margin: 0;
  padding: 0;
  background: #FFF; }
  .results-list .result-item-component {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 0;
    padding: 2%;
    list-style-type: none; }
  .results-list .result-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 10em;
    width: 10em;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%; }
  .results-list .result-content-container {
    border-bottom: solid 1px #C4C4C4;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .results-list .about-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    width: 90%; }
    .results-list .about-preview h1 {
      margin: 0;
      font-size: 3em;
      width: 80%;
      font-weight: 400; }
    .results-list .about-preview .place-snippet {
      width: 80%;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 17px;
      font-weight: 300; }
  .results-list .star-rating {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80px; }
  .results-list .caption {
    color: #F55959;
    text-align: center;
    overflow: scroll; }
  .results-list .star-icon {
    font-size: 5em;
    border-radius: 10px;
    background: #1dbbcc; }

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
  color: #555;
  font-family: "Lato", sans-serif;
  background: rgba(236, 238, 236, 0.8); }

/*# sourceMappingURL=main.css.map */
